config MTK_BMA223
	bool "MTK_BMA223 for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MTK_BMA223 Accelerometer.

config BMA223_LOWPASS
	bool "MTK_BMA223 for Mediatek package"
	default n
	help
	Say Y here if you have MTK_BMA223 touch panel BMA223_LOWPASS.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config CUSTOM_KERNEL_SENSORHUB
	bool "MTK_BMA223 for Mediatek package"
	default n
	help
	Say Y here if you have MTK_BMA223 touch panel CUSTOM_KERNEL_SENSORHUB.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.
